:root {
  interpolate-size: allow-keywords;
}

html {
  &.is-locked-until-xlarge {
    overflow: hidden;

    @media (--xlarge) {
      overflow: visible;
    }
  }

  &.light {
    --c-primary: white;
    --c-text: black;
    --c-accent: #e0115f;
    --c-gray: rgb(0 0 0 / 52%);
    --c-thin-gray: rgb(0 0 0 / 10%);
  }
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--c-text);
  background: var(--c-primary);

  @media (--medium) {
    padding-bottom: 250px;
  }
}

* {
  font-variation-settings: "slnt" 0;
  text-underline-offset: 5px;
}

main {
  flex: 1;
}

details {
  &::details-content {
    height: 0;
    overflow: hidden;
    transition: all 0.15s ease-out;
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    height: auto;
  }
}

a {
  padding-bottom: 4px;
  color: var(--c-text);
  text-decoration: none;
  background-image: linear-gradient(var(--c-text), var(--c-text));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 2px;
  transition: background-size 500ms ease-in-out;

  &:hover {
    background-size: 0% 2px;
  }
}
